name: Build Release

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/reusable-build.yml
    with:
      enable-cache: false
      release-build: true
      package-artifacts: true
      upload-to-release: true
